.categories-page {
    display: flex;
    padding: 20px;
    height: 95vh;
    background: linear-gradient(180deg, #231f1f, rgba(47, 47, 47, 0.9) 70%);
}

.categories-sidebar {
    width: 20%;
    padding-right: 20px;
    margin-left: 100px;
}

.categories-sidebar h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: white;
}

.categories-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.category-button {
    padding: 10px;
    background-color: #9d7e5f;
    border: 1px solid #9d7e5f;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    text-align: left;
}

.category-button:hover {
    background-color: #d3b28f;
}

.products-section {
    width: 80%;
    padding-left: 20px;
}

.products-section h3 {
    width: 80%;
    color: white;
    text-align: center;
    margin-left: -100px;
}

.product-cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-left: 70px;
    padding-right: 200px;
    margin-top: 20px;
}

.product-card {
    background-color: #dacdbf;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 200px;
    text-align: center;
    transition: transform 0.3s ease;
    justify-content: center;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.product-name {
    font-size: 1.2em;
    margin: 10px 0;
    font-weight: bold;
}

.product-price {
    font-size: 1em;
    color: #555;
}
