.hero{
    height: 95vh;
    background: linear-gradient(180deg, #231f1f, rgba(47, 47, 47, 0.9) 70%);
    display: flex;
}

.hero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 110px;
    line-height: 1.1;
}

.hero-left h1 {
    color: #c5c5c5;
    font-size: 70px;
    padding-left: 20px;
}

.hero-left p {
    color: #c7c7c7;
    font-size: 17px;
    font-weight: 50;
    padding-right: 650px;
    padding-left: 20px;
}

.hero-coffee-icon {
    display: flex;
    gap: 7px;
}

.hero-coffee-icon img {
    width: 10px;
}

.hero-latest-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-left: 20px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    margin-top: 30px;
    background-color: #CA9E79;
    border: #CA9E79;
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.hero-latest-button:hover {
    background: #9d7e5f;
}