.body-container{
    align-items: center;
    justify-content:center;
    display: flex;
    gap: 100px;
}


.product-details h2{
    color: black;
    font-weight: 600;
    margin-left: 150px;
}

.product-details p {
    margin-left: 200px;
    margin-bottom: 10px;
}

.photo-item img{
    width: 500px;
    height: 500px;
    margin: 100px;
    border-radius: 20px;
}

