.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
    background: linear-gradient(180deg, #231f1f, rgba(47, 47, 47, 0.9) 70%);
}

h2 {
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

.login-form {
    background-color: #171717;
    padding: 50px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 500px;
    border: 1px solid #2c2a29;
}

.input-container {
    margin-bottom: 30px;
    color: white;
}

.input {
    width: 100%;
    padding: 15px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #d3b28f;
    font-size: 17px;
    background-color: #faf3e8;
}

.button {
    width: 100%;
    padding: 18px;
    background-color: #CA9E79;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #9d7e5f;
}

.register-container {
    margin-top: 30px;
    text-align: center;
    font-family: 'Cursive', sans-serif;
    color: #c0bfb8;
}

.link {
    color: #5d9dd5;
    cursor: pointer;
    text-decoration: underline;
}
